<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.grosup.ttzy.share.mapper.ResourceShareTempMapper">  
    
    <!--
     Table structure for resource_sharetemptemp
		private String tempKey; //模板ID
		private String tempName; //模板名稱
		private String tempFilePath; //模板filepath
    -->
    
    <resultMap type="com.grosup.ttzy.share.dto.ResourceShareTempDto" id="BaseResultMap">
        <id column="tempKey" property="tempKey"/>
        <result column="tempName" property="tempName"/>
        <result column="tempFilePath" property="tempFilePath"/>
    </resultMap>
  

    <insert id="add" parameterType="com.grosup.ttzy.share.dto.ResourceShareTempDto">
        INSERT INTO resource_sharetemp(tempKey, tempName, tempFilePath) 
        VALUES(#{tempKey},#{tempName},#{tempFilePath})
    </insert>
   
    <delete id="del" parameterType="java.lang.String">
        delete from resource_sharetemp where tempKey = #{tempKey}
    </delete>
    
    <update id="update" parameterType="com.grosup.ttzy.share.dto.ResourceShareTempDto">
        update resource_sharetemp set 
        tempName = #{tempName}
        tempFilePath = #{tempFilePath}
        where tempKey = #{tempKey}
    </update>
    
    <select id="get" parameterType="java.lang.String" resultType="com.grosup.ttzy.share.dto.ResourceShareTempDto">
        select * from resource_sharetemp where tempKey = #{tempKey}
    </select>
    
     <select id="getAll" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from resource_sharetemp
    </select>
  
</mapper>  